<!DOCTYPE html>
<html>
  <head>
    <title>Velofind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%# Show back button only if referer exists and current page is not the root path %>
    <% if request.referer.present? && !current_page?(root_path) %>
      <div class="container mt-3 d-flex justify-content-end">
      <%= link_to "Go back", request.referer, class: "back-button" %>
      </div>
    <% end %>

    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
